.headline {
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  line-height: 1.25;
  font-family: $font-heading;
  word-spacing: -.5rem;

  &--small {
    font-size: 1.1rem;
  }
}

.padding-remove-top {
  padding-top: 0 !important;
}

.margin-top { margin-top: 1rem !important; }

.margin-remove { margin: 0 !important; }
