.headline {
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  line-height: 1.25;
  font-family: $font-heading;
  word-spacing: -.5rem;
  display: inline-block;
  
  &--small {
    font-size: 1.1rem;
  }

  &--medium {
    font-size: 1.5rem;
  }

  &--large {
    font-size: 2rem;
    word-spacing: -1rem;
  }

}
