$color-red: #ff0000;
$color-black: #3c3c3a;
$color-purple: #85008f;
$color-orange: #f08212;
$color-mint: #85ff8f;
$color-blue-grey: #9fb3ef;
$color-pink: #ff7bac;
$color-yellow: #faed37;
$color-yellow-dark: #e8da1a;
$color-blue-1: #607d8b;
$color-grey-1: #a5aeb5;

$font-heading: 'Rubik Mono One', sans-serif;
$font-main: 'Merriweather', serif;
